.side_content {
    width: 300px;
    height: calc(100% - 30px);
    float: left;
     .user {
      background-color: #253141;
      height: 60px;
      width: 300px;
      padding-top: 30px;
      color: #FFFFFF;
      }
      .fas{
        float:right;
        color: #FFFFFF;
        padding-right: 20px;
        padding-top: 5px;
        text-decoration:none;
      }
       .user_name {
        display: inline-block;
        height: calc(100% - 30px);
        width: auto;
        font-weight: bold;
        font-size: 16px;
        padding-left: 20px;
      }
     .group_list {
       height: calc(100% - 90px);
       background-color: #2f3e51;
      .group{
          color: #FFFFFF;
          padding: 20px;
        &__group_name{
          padding-bottom: 5px;
          font-size: 15px;
          }
        &__group_message{
          font-size: 10px;
          }
      }
    }
  }
